
# BANCO DE DADOS
DATABASE_URL="postgresql://postgres.dhymycwaczyjzzdvvnvm:NwXeLE.egUL65y-@aws-1-sa-east-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.dhymycwaczyjzzdvvnvm:NwXeLE.egUL65y-@aws-1-sa-east-1.pooler.supabase.com:5432/postgres"

# SUPABASE
NEXT_PUBLIC_SUPABASE_URL=https://dhymycwaczyjzzdvvnvm.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRoeW15Y3dhY3p5anp6ZHZ2bnZtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUyMTg2MjcsImV4cCI6MjA5MDc5NDYyN30.QqzMZbsboWXePbjR3ZxJHijQDLy_4tiSy4iFzCXJZjo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRoeW15Y3dhY3p5anp6ZHZ2bnZtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTIxODYyNywiZXhwIjoyMDkwNzk0NjI3fQ.gDY5kxWnctm0HKGUAUs5DYig0En5NdqepsY6n0roJxE

# JWT
JWT_SECRET="tribocrm-jwt-secret-2026-tribo-de-vendas"
JWT_EXPIRES_IN="8h"
JWT_REFRESH_SECRET="tribocrm-refresh-secret-2026-tribo-de-vendas"
JWT_REFRESH_EXPIRES_IN="30d"

# GOOGLE OAUTH2
GOOGLE_CLIENT_ID="116989071667-dsq4cch3rerqtfkqen13gujhtedv53lc.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"
GOOGLE_REDIRECT_URI="http://localhost:3001/oauth/google/callback"

# BANCO EFI
CREDENCIAIS DE PRODUÇÃO
EFI_CLIENT_ID="Client_Id_b1ff9a901c68cea752f46d5bf92f33e8b3a74eda"
EFI_CLIENT_SECRET="Client_Secret_5bd0ac36af3a7c9d2cdc584fb4d2eeb1a77e34d5"
EFI_SANDBOX="true"

CREDENCIAIS DE HOMOLOGAÇÃO
EFI_CLIENT_ID="Client_Id_95d6776e652d04e55bc72f1c54e35a71a70c302f"
EFI_CLIENT_SECRET="Client_Secret_6803b88134c7df5ab154ee8a6743a8dd743e268d"
EFI_SANDBOX="true"

# BREVO (E-MAIL API)
BREVO_API_KEY="xkeysib-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
SMTP_FROM_EMAIL="noreply@tribodevendas.com.br"

# SERVIDOR
NODE_ENV="development"
PORT=3001
FRONTEND_URL="http://localhost:3000"
